/* ----- General Rules ----- */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mt-custom-200 {
    margin-top: 200px;
}


/* -----  Products List View  ----- */

.list-img {
    height: 250px;
    width: auto;
}

.products-list-img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.post-list-card {
    border-left: 1px solid black;
}

.name-and-brand {
    line-height: 96%;
    font-size: 20px;
    font-weight: 500;
}

.brand-span {
    font-size: 14px;
    font-weight: 400;
}

.category-aside-link {
    font-size: 25px;
}


/* ----- Product Detail View ----- */

.product-detail-btn {
    position: absolute;
    right:    15px;
    bottom:   15px;
}

.product-detail-img {
    max-width: 90%;
}

.name-and-brand {
    padding-left: 5%;
    padding-right: 5%;
}

.product-buy-form {
    padding-left: 5%;
    padding-right: 5%;
}

.price-and-rating {
    padding-left: 5%;
    padding-right: 5%;
}