.list-img {
    height: 250px;
    width: auto;
}

.mt-custom-200 {
    margin-top: 200px;
}

.product-detail-img {
    max-width: 100%;
}

.products-list-img {
    max-width: 200px;
    height: auto;
}

.product-list-card {
    border-left: 1px solid black;
    border-right: 1px solid black;
}