{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="mt-custom-200">
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-12">
            <h2>
                Welcome to SiteManager
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-dark" href=""><i class="fa-solid fa-plus fa-xl"></i> Add Product</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <form method="post" enctype="multipart/form-data" action="" class="mb-2">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{ add_product_form.name }}
                        {{ add_product_form.category }}
                        {{ add_product_form.brand }}
                        {{ add_product_form.default_price }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    {{ add_product_form.color }}
                    {{ add_product_form.feature_list }}
                    {{ add_product_form.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    {{ add_product_form.image_url }}
                    {{ add_product_form.image_url2 }}
                    {{ add_product_form.image_url3 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    {% endif %}
</div>
{% endblock %}