{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-custom-200">
        <!-- Product Card -->
        <div class="product-card">
            <div class="row">
                <div class="col-12 col-lg-5 offset-lg-1 text-center">
                    {% if "placeholder" not in product.image.url  %}
                        <img class="products-list-img" src="{{ product.image.url }}" alt="">
                    {% else %}
                        <h2>No Image</h2>
                    {% endif %}
                </div>
                <!-- Product Info -->
                <div class="col-12 col-lg-5">
                    <!-- Product Name, Brand, Color -->
                    <div class="row name-and-brand">
                        <div class="col-12">
                            <h2>{{ product.name }}{% if product.color %}, {{ product.color|title }}{% endif %}</h2>
                            <h5>{{ product.brand.friendly_name|title }}</h5>
                        </div>
                    </div>
                    <!-- Product Price, Rating -->
                    <div class="row price-and-rating">
                        <!-- Name, Brand, Price -->
                        <div class="col-12 col-lg-5">
                            {% if product.price != product.default_price %}
                            <h3>{{ product.price }}</h3>
                            <h6><del>{{ product.default_price }}</del></h6>
                            {% else %}
                            <h4>${{ product.price }}</h4>
                            {% endif %}
                        </div>
                        <!-- Rating -->
                        <div class="col-12 col-lg-5 text-right">
                            {% if product.rating %}
                            {{ product.rating }}
                            {% else %}
                            No reviews
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <!-- Form for adding Product -->
                    <div class="row">
                        <div class="col-12">
                            <form class="size-and-buy-form" action="{% url 'add_item' product.pk %}" method="post">
                                {% csrf_token %}
                                {% if size_list  %}
                                    <select name="size" id="size">
                                        {% for li in size_list %}
                                            <option value="{{ li }}">{{ li }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                                <div class="input-group">
                                    <input type="number" name="quantity" value="1" 
                                           min="1" max="99" class="form-control qty-input mr-1"
                                           data-item_id="{{ product.pk }}" id="id_qty_{{ product.pk }}">
                                           <button type="submit" class="btn btn-dark">Add</button>
                                    <input type="hidden" name="sku" value="{{ product.sku }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}