{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-custom-200">
        <div class="row">
            <div class="col-12">{{ product.domain }}</div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-5 offset-lg-1 px-5">
                <img class="product-detail-img" src="../media/{{ product.image }}" alt="">
            </div>
            <div class="col-12 col-lg-6 px-5">
                <h2>{{ product.name }}</h2>
            </div>
        </div>
    </div>
{% endblock %}