{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-4">
            {% for product in products %}
                <a href="">
                    <p>{{ product.name }}{{ product.price }}</p>
                    <img class="list-img" src="media/{{ product.image }}" alt="">
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}