{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-custom-200">
        <div class="row">
            <div class="col-12 col-lg-10">
                {{ category }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-">
                {% if categories.count > 0 %}
                    {% for category in categories %}
                        <p>
                            <a href="{% url 'products' %}?category={{ category.pk }}">{{ category.name }}</a>
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            {% endfor %}
        </div>
    </div>
{% endblock %}