{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-custom-200">
        <div class="row">
            <div class="col-12 col-lg-2 products-nav">
                {% for category in categories %}
                    <a href="{% url 'products' %}?category={{ category.pk }}">
                        <p class="ml-4 text-capitalize">
                            {{ category.friendly_name }}
                        </p>
                    </a>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-10">
                    <div class="row g-0">
                        {% for product in products %}
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <hr>
                            <div class="product-list-card m-3">
                                <div class="row">
                                    <div class="col-12">
                                        <img class="products-list-img" src="../media/{{ product.image }}" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="m-0 name-and-brand">
                                            {{ product.name }}, {{ product.color }}
                                            <br>
                                            <span class="text-capitalize brand-span"> 
                                                {{ product.brand.friendly_name }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="mb-1"><strong>${{ product.price }}</strong></p>
                                    </div>
                                    <div class="col-6 product-detail-btn text-right">
                                        <button class="btn btn-dark mt-auto">
                                            <i class="fa-solid fa-cart-plus fa-lg mx-2"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    {% if forloop.counter|divisibleby:4 %} 
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>
    </div>
{% endblock %}